{% extends 'base.html' %}
{% block content %}
<style>
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
</style>

<div class='container container-table'>
<div class='row vertical-center-row'>
<div class='text-center col-sm-6 col-sm-offset-3'>
    {% if error %}
        <font color='red'>{{ error }}</font>
    {% endif %}
<form method=POST>{% csrf_token %}
    User: <input type=text name=username value=''/><br/>
    Pass: <input type=password name=password value=''/><br/>
    <input type=submit value='Login'/>
</form>
</div>
</div>
</div>
{% endblock %}
